/* register.component.css */
.register-background {
    background-image: url('/assets/bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: #d40e0e;
    height: 100%;
  }
  
  .register-card {
    background-color: red($color: #000000); /* White background for the card */
    border: 1px solid #d40e0e;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    max-width: 400px; /* Max width for better responsiveness */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  